<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MEMETube</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>MEMETube</h1>
<nav>
  <ul>
    <li><a href="/memetube">Home</a></li>
    <li><a href="/memetube/new">Add New Video</a></li>
  </ul>
</nav>
  <div id="container">
  <%= yield %>
  </div>
</body>
</html>