<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Gigsta</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav>
  <ul>
    <h1><a href="/gigsta">Gigsta</h1></a>
    <!-- <li><a href="/gigsta">Home</a></li> -->
    <li><a href="/gigsta/new">Add New Gig</a></li>
  </ul>
</nav>
  <div id="container">

  <%= yield %>

  </div>
</body>
</html>