<form action="/gigsta" method="post">
  <label for="venue">Venue:</label>
    <input type="text" name="venue" placeholder="Venue">

  <label for="gigdate">Gig Date:</label>
    <input type="date" name="gigdate" placeholder="Gig Date">

  <label for="time">Time:</label>
    <input type="time" name="time" format="%D, %F, %d, %Y" placeholder="Time">

  <label for="address">Address:</label>
    <input type="text" name="address" placeholder="Address">

<button>Add This Gig!</button>
</form>