@import url(http://fonts.googleapis.com/css?family=Pacifico);

body{
  max-width: 960px;
  font-family: helvetica;
  margin: auto;
  background-color: #F9F9F9;
  font-weight: 100;
  padding: 1em;
}
h1, h2{
  font-weight: 200;
}
#container{
  padding-top: 10px;
  padding-left: 40px;
}
nav{
   border-bottom: 1px solid grey;
}
nav h1{
  font-size: 3em;
  font-family: 'Pacifico', cursive;
  margin: 0em;
  display: inline-block;
  padding-right: 1em;
}
nav li{
  display: inline-block;
  padding-left: 1em;
  list-style: none;
}
nav a{
  display: block;
  text-align: left;
  text-decoration: none;
  font-size: .9em
}
a:link{
  cursor: pointer;
  text-decoration: none;
  color: #3A3A3A;
}
a:visited{
  text-decoration: none;
  color: #797979;
}
a:hover{
  cursor: pointer;
  /*text-decoration: underline;*/
  color: #000;
}

#shadow{
  padding: 2.5em;
}
#edit_nav{
  display: block;
  text-align: left;
  text-decoration: none;
  font-size: .9em
}
#edit_nav a{
  padding-right: .8em;